@charset "utf-8";
/* CSS Document */
body,html{ padding:0; margin:0; width:100%; height:100%; font-size:1em; background:#fff; color:#666565; font-family: Verdana, Geneva, sans-serif,"微软雅黑";}
input{ color:#000; background:#fff; font-size:1em; padding:0;}
p{float:left; width:99%; text-align:center;}
a{ color:#000; text-decoration:none;}
a:focus,input:focus{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-user-modify:read-write-plaintext-only;
	-webkit-background-color:#fff;
}

/*输入框*/
box1{ float:left; width:96%; height:30px; padding:12px 2%; border-bottom:1px #d2d2d2 solid;}
text1{ float:left; width:30%; text-align:left; font-size:1em; padding-left:5%; padding-top:4px;}
text2{ float:right; width:30%; text-align:center; font-size:1em; padding-left:2%; border-left:1px #acacac solid; padding-top:4px; color:#000;}
text3{ float:left; margin:10px 10%; padding:10px 10%; width:60%; background:#fce8e8; color:#e31c1c; font-size:1em; border-radius:5px;}
.text4{ text-align:left; width:80%; padding:0 10%; font-size:1em; line-height:25px; word-spacing:-1px; letter-spacing:-1px; margin-top:0;}
text5{ float:left; width:30%; text-align:left; font-size:1em; padding-left:5%; padding-top:4px;}
text6{ float:left; width:18%; text-align:right; font-size:1em; padding-right:2%; padding-top:4px;}

.input1{float:left; width:50%; background:none; border:0; outline:none;}
.input2{float:left; width:20%; background:none; border:0; outline:none;}
.input3{float:left; width:50%; height:26px; background:#fff; border:1px #CCC solid; outline:none; border-radius:5px;}
btn1{ float:none; margin:0 auto; padding:5px 10%; height:50px; line-height:50px; background:#2e87da; color:#fff;font-size:1.3em;
border-radius:5px;}
btn2{ float:left; width:25%; margin-left:5px; text-align:center; line-height:30px; background:#eb6100; color:#fff; font-size:0.9em; border-radius:5px;}
btn3{ float:left; width:20%; margin:15px 10% 15px 10%; padding:10px 30%; text-align:center; line-height:30px; background:#9fa1a2; color:#000; border-radius:5px;}


box2{float:left; width:96%; height:30px; padding:10px 2%;}

/*颜色*/
bluck{ color:#000;}
.gray{ background:#efefef; color:#8d8b8b;}
.blue{ color:#003c74; text-decoration:underline;}


/*弹出层*/
box3{ float:left; width:100%; height:100%; position:fixed; z-index:99; display:none;}
box3 div1{ float:left; margin:15%; width:60%; height:120px; background:#000; opacity:0.8; border:3px #a8aaab solid; border-radius:10px; text-align:center; color:#fff; padding:10% 5% 0% 5%; font-size:1.2em; word-spacing:-1px; letter-spacing:-1px;}
