BODY {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px;  MARGIN-RIGHT: 0px; margin-bottom:0px;
	FONT-SIZE: 12px;overflow-y:hidden; 
	
}
A {
	FONT-SIZE: 12px;
	text-decoration: underline;

}
INPUT{
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;height:18px; 
	border:expression(this.type=="image"?'0px solid #666666':'1px solid #666666');
}

IMG{
	cursor: hand;
}



OPTION {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
}
SELECT {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
}
TEXTAREA {
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma,sans-serif;
	overflow-y: auto;
	height:80px;
	border:1px solid #666666;
	PADDING-LEFT: 2px;
	
	word-wrap: break-word;
}

TD {
	FONT-SIZE: 12px
}
TR {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
}
TH{
	font-size: 12px;
	font-weight: 
}
SELECT {
	PADDING-LEFT: 2px;
}
OPTION {
	PADDING-LEFT: 2px
}

TABLE {
	FONT-SIZE: 11px; FONT-FAMILY: tahoma,sans-serif;
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px ;
}
A {
	COLOR: #000099; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
.A {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BACKGROUND-IMAGE: url(../images/CN/bgcolor.gif); BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
.B {
	BORDER-RIGHT: #8d8d8d 1px solid; BORDER-TOP: #8d8d8d 1px solid; BACKGROUND-IMAGE: url(../images/CN/bgcolor.gif); BORDER-LEFT: #8d8d8d 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #8d8d8d 1px solid; HEIGHT: 20px; TEXT-DECORATION: none
}
.C {
	PADDING-LEFT: 2px
}
.D {
	FONT-SIZE: 24px; COLOR: #ffffff
}
.E {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff
}
.E:hover {
	TEXT-DECORATION: none
}
.F {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
.G {
	COLOR: #ffffff
}
.H2 {
	COLOR: #800000
}
.I {
	FONT-WEIGHT: bold; COLOR: #800000
}
.J {
	COLOR: #000000
}
.K {
	FONT-WEIGHT: bold; COLOR: #000000
}
.L {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #000000
}
.M {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #ffffff
}
.N {
	BACKGROUND-IMAGE: url(../images/CN/bgcolor.gif); HEIGHT: 24px
}
.O TD {
	WHITE-SPACE: nowrap; HEIGHT: 20px
}
.O A {
	COLOR: #000000; TEXT-DECORATION: none! important
}
.P {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; CURSOR: hand
}
.Q {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; CURSOR: hand; COLOR: #ffffff; BACKGROUND-COLOR: #4791c5
}
.Q A {
	COLOR: #ffffff
}
.R {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; COLOR: #8d8d8d
}
.S {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #336699 1px solid; COLOR: #8d8d8d; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #e9f2f8
}
.T {
	BORDER-RIGHT: #336699 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #336699 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #336699 1px solid; CURSOR: hand; BORDER-BOTTOM: #336699 1px solid; BACKGROUND-COLOR: #e9f2f8
}
.U {
	BORDER-RIGHT: #4791c5 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #4791c5 1px solid; PADDING-LEFT: 1px; Z-INDEX: 100; LEFT: -200px; VISIBILITY: hidden; PADDING-BOTTOM: 1px; OVERFLOW: visible; BORDER-LEFT: #4791c5 1px solid; CURSOR: hand; PADDING-TOP: 1px; BORDER-BOTTOM: #4791c5 1px solid; WHITE-SPACE: nowrap; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #e9f2f8; LAYER-BACKGROUND-COLOR: #e9f2f8
}
.V {
	PADDING-RIGHT: 0px; BORDER-TOP: #4791c5 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; HEIGHT: 1px
}
.W {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.W A {
	COLOR: #000000; TEXT-DECORATION: none
}
.X {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
.X A {
	COLOR: #000000; TEXT-DECORATION: none! important
}
.y {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #8d8d8d; PADDING-TOP: 1px
}
.Z {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; COLOR: #8d8d8d; PADDING-TOP: 1px; BACKGROUND-COLOR: #ffffff
}
.AA {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #ffffff
}
.BB {
	FONT-WEIGHT: bold
}
.CC {
	FONT-WEIGHT: bold; COLOR: #336699
}
.DD {
	COLOR: #000099
}
.EE {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #ffffff 1px solid; BORDER-COLLAPSE: collapse; EMPTY-CELLS: show
}
.EE TD {
	PADDING-RIGHT: 1px; BORDER-TOP: #c1cdd8 1px solid; PADDING-LEFT: 1px; HEIGHT: 23px
}
.FF {
	COLOR: #10659e
}
TR.H {
	BACKGROUND-COLOR: #c1cdd8
}
.GG {
	BORDER-RIGHT: #96965e 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #96965e 1px solid; MARGIN-TOP: 12px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #96965e 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #96965e 1px solid; BACKGROUND-COLOR: #ffffcc
}
.HH {
	FONT-WEIGHT: bold; COLOR: #e9f2f8
}
.II {
	COLOR: #800000; HEIGHT: 1px
}
TR.HL {
	CURSOR: hand; BACKGROUND-COLOR: #e9f2f8
}
TR.SL {
	BACKGROUND-COLOR: #c1cdd8
}
.JJ {
	BORDER-RIGHT: #a0c6e5 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #a0c6e5 1px solid; OVERFLOW-Y: auto; PADDING-LEFT: 4px; OVERFLOW-X: hidden; PADDING-BOTTOM: 4px; VERTICAL-ALIGN: top; BORDER-LEFT: #a0c6e5 1px solid; WIDTH: 170px; PADDING-TOP: 4px; BORDER-BOTTOM: #a0c6e5 1px solid; BACKGROUND-COLOR: #ffffff
}
.RTE {
	FONT-SIZE: 12px; FONT-FAMILY: tahoma,sans-serif
}
.KK {
	MARGIN-LEFT: 5px; WIDTH: 15px; HEIGHT: 12px
}
.LL {
	PADDING-LEFT: 1px
}
.MM {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 1px; VERTICAL-ALIGN: middle; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.NN {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; Z-INDEX: 98; LEFT: 0px; VISIBILITY: hidden; BORDER-LEFT: medium none; WIDTH: 0px; BORDER-BOTTOM: medium none; POSITION: absolute; TOP: 0px; HEIGHT: 0px
}
.OO {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN: 0px; BORDER-LEFT: 0px; WIDTH: 100%; BORDER-BOTTOM: 0px; cell-spacing: 0px
}
.text-red {
	font-weight: bold;
	color: #FF0000;
	font-size: 16px;
}
.text2-red {
	color: #A09995;
}
.text-red3 {
	color: #FF0000;
}
.line-blue-light {
	border: 1px solid #C1CDD8;
}
.back-blue-light {
	background-color: #E1EBFB;
	color: #000066;
}
.text-blue-heavy {
	font-weight: bold;
	color: #000066;
}
.back-gray-light {
	background-color: #FFF7E5;
}
.back-blue-heavy {
	background-color: #A0C6E5;
}
.line-blue-heavy {
	border: 1px solid #A0C6E5;
}
.bnt-top-back-of {
	background-image: url(../images/CN/tab.bg.off.gif);
}
.back-top-back-on {
	background-image: url(../images/CN/tab.bg.on.gif);
}
.back-next-bnt {
	background-image: url(../images/CN/back-bnt.gif);
}
.back-blue-bntcolor {
	background-color: #DAF0FD;
}
.text-top-bntcolor {
	color: #0099CC;
}
.text-orange-heavy {
	font-weight: bold;
	color: #FF6600;
	font-size: 16px;
}
.back-top-line-blue {
	background-color: #C1CDD8;
}
.box-top {
	background-image: url(../../images/CN/box-top.gif);
}
.box-top2 {
	background-image: url(../../images/CN/box-top2.gif);
}
.back-money {
	background-image: url(../../images/CN/back-money.gif);
}
.text-white {
	color: #FFFFFF;
}
.text-blue {
	color: #363382;
}
.write-short {
	width: 70px;
}
.write-long {
	width: 120px;
}
.write-minimum {
	width: 20px;
}
.back-blue-light2 {
	background-color: #F0F4FA;
}
.back-white {
	background-color: #FFFFFF;
}
.back-gray {
	background-color: #EBE9EE;
}
.back-blue {
	background-color: #7AB2EB;
	color: #FFFFFF;
}
.write-adress {
	width: 400px;
}
.line-blue-heavyt {
	color: #FFFFFF;
	border: 1px inset #C1EBFF;
}
.line-blue-ao {
	border: 1px inset #C1EBFF;
	line-height: 20px;
	color: #FFFFFF;


}
.line-wel {
	background-color: #F0F4FA;
	border: 1px solid #FFFFFF;
}
.back-blue-light3 {
	background-color: #DBEAF5;
}
.back-bntgray {
	background-image: url(../images/CN/back-bntgray.gif);
	border: none;

}
.back-bntgray-yellow {
	background-image: url(../images/CN/back-bntgray-yellow.gif);
}
.back-next-bnt2 {
	background-image: url(../images/CN/back-topbnt.gif);
}
.back-bntgray2 {
	HEIGHT: 20px;
	background-image: url(../images/CN/back-bntgray2.gif);
}
button {
	background-image: url(../images/CN/botten.gif);
}
a.link-write:link {
	color: #FFFFFF;
	text-decoration: none;
}
a.link-write:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.link-write:hover {
	color: #FFFFFF;
	text-decoration: underline;
}
a.link-write:active {
	color: #FFFFFF;
	text-decoration: none;
}
.title-top {
	background:#F0F0F0;
	HEIGHT: 21px;
	color: #000000;
	border: 1px solid #000000;
}
.title-top td {
	border-bottom: #999999 1px solid;
	text-align: center;
}
.title-top-lock {
	background:#F0F0F0;
	HEIGHT: 22px;
}
.title-top-lock td{
	border-bottom: #999999 1px solid;
	text-align:center;
	z-index: 20; position: relative; top: expression(parentNode.parentNode.parentNode.parentNode.scrollTop-1);     
}
.title-text {
	color: #006600;
	background-image: url(../images/CN/title-back.gif);
}
.title-back {
	color: #263C5D;
	HEIGHT: 28px;
	background-image: url(../images/CN/top-back3.gif);
	font-weight: bold;
}
.title-func-back {
	color: #263C5D;
	HEIGHT: 26px;
	background-image: url(../images/CN/top-back4.gif);
	text-align:center;
}

.table-back {
	color: #000000;
	background-color: #E9F3FC;
	HEIGHT: 20px;
}
.table-back td{
	PADDING-left:0px;
}
.table-back-colorbar {
	cursor:hand;
	background-color:expression('#EAF3FF,#FFFFFF'.split(',')[rowIndex%2]);
	HEIGHT: 20px;
}

.table-back-colorbar td{
	PADDING-left:3px;
	word-wrap:break-word;word-break:break-all; 
}


.table-back-colorbarto {
	cursor:hand;
	background-color:expression('#EAF3FF,#FFFFFF'.split(',')[rowIndex%2]);
	HEIGHT: 20px;
}

.table-back-colorbarto td{
	PADDING-left:3px;
	overflow: hidden; text-overflow:ellipsis;word-break:keep-all; 
}

.td-blankout{
	color: #A09995;
}
.table-detail{

}
.table-detail td{
	 HEIGHT: 20px;
	word-break:break-all;
}

.sub-title{
	background-image: url(../images/CN/back-bntgray2.gif);
}
.sub-title td{
	HEIGHT: 20px;
}
	
.table-back-red {
	background-color: #E9F3FC;
	cursor:hand;
	font-weight: bold;
	color: #FF0000;
	font-size: 11px;
}

.mnu01 {font-size:9pt;font-family:Verdana;text-align:center;color:#FFFFE6; cursor:hand;text-decoration:none;border:0px solid #008000}
.mnu02 {font-size:9pt;font-family:Verdana;text-align:center;color:#FFFFEC; cursor:hand;text-decoration:none;border:0px outset;background:#B0E4A7}

.event{
	background-color:expression('#ADD0E9,#ADD0E9'.split(',')[rowIndex%2]);
	PADDING-left:2px;
	HEIGHT: 20px;
}

.event td{
word-wrap:break-word;word-break:break-all;
}

.eventto{
	background-color:expression('#ADD0E9,#ADD0E9'.split(',')[rowIndex%2]);
	PADDING-left:2px;
	HEIGHT: 20px;
}

.eventto td{
	overflow: hidden; text-overflow:ellipsis;word-break:keep-all; 
}

.btn2{
   border-right: #2C59AA 1px solid;
	border-top: #2C59AA 1px solid;
	font-size: 12px;
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#C3DAF5);
	border-left: #2C59AA 1px solid;
	cursor: hand;
	color: black;
	padding-top: 2px;
	margin-right:2px;
	border-bottom: #2C59AA 1px solid;
	height:20px;
	width:52px;
}
.sortable{
 background:#dddddd;
}

.sortableto{
 background:#dddddd;
  table-layout: fixed;
}
.totalsumTable{
background-color: #DDDDDD;
}

.SeparatePage{
	text-align: right; 
	padding-right: 2px;
	
}

.printstyle{
text-align: right;
padding-top: 20px;
padding-right: 20px;
}

.print_title_style{
width: 100%;
font-size: 15px;
font-weight: bold;
height: 25px;
}

.STYLE1 {
		color: #FF0000
	}
	
#sq {
	position:absolute;
	left:0px;
	top:0px;
	width:200px;
	height:auto;
	z-index:1;
	visibility:hidden;
}

/*- Menu Tabs 1--------------------------- */ 
#tabs1 {
  float:left;
  width:100%;
  line-height:normal;
  border-bottom:1px solid #BCD2E6;
  font: 10px/1em Verdana;
  }
#tabs1 ul {
  margin:0;
  padding:1px 1px 0 1px;
  list-style:none;
  }
#tabs1 li {
  display:inline;
  margin:0;
  padding:0;
  }
#tabs1 a {
  float:left;
  background:url("../images/CN/tableft1.gif") no-repeat left top;
  margin:0;
  padding:0 0 0 4px;
  text-decoration:none;
  }
#tabs1 a span {
  float:left;
  display:block;
  background:url("../images/CN/tabright1.gif") no-repeat right top;
  padding:6px 5px 4px 2px;
  }
#tabs1 a span {float:none;}
#tabs a:hover span {
  color:#627EB7;
  }
#tabs1 a:hover {
  background-position:0% -42px;
  }
#tabs1 a:hover span {
  background-position:100% -42px;
  }
/*- Menu Tabs 1--------------------------- */