<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <description>winsafe drp system b/s application</description>
  <display-name>Winsafe DRP Application</display-name>
  
  <filter>
    <filter-name>AuthFilter</filter-name>
    <filter-class>com.winsafe.azure.msal.filter.AuthFilter</filter-class>
  </filter>
  <filter>
    <filter-name>XssSqlFilter</filter-name>
    <filter-class>com.winsafe.hbm.filters.XssFilter</filter-class>
  </filter>
  <filter>
    <filter-name>PurviewFilter</filter-name>
    <filter-class>com.winsafe.hbm.filters.PurviewFilter</filter-class>
  </filter>
  <filter>
    <filter-name>HibernateSessionFilter</filter-name>
    <filter-class>com.winsafe.hbm.filters.HibernateSessionFilter</filter-class>
  </filter>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>com.winsafe.hbm.filters.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>XssSqlFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PurviewFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>HibernateSessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>com.winsafe.hbm.filters.UserCounterListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.winsafe.quartz.QuartzListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/conf/struts-config-phone.xml,/WEB-INF/conf/struts-config-scanner.xml,/WEB-INF/conf/struts-config-aftersale.xml,/WEB-INF/conf/struts-config-equip.xml,/WEB-INF/conf/struts-config-sys.xml,/WEB-INF/conf/struts-config-self.xml,/WEB-INF/conf/struts-config-sales.xml,/WEB-INF/conf/struts-config-warehouse.xml,/WEB-INF/conf/struts-config-purchase.xml,/WEB-INF/conf/struts-config-finance.xml,/WEB-INF/conf/struts-config-report.xml,/WEB-INF/conf/struts-config-assistant.xml,/WEB-INF/conf/struts-config-machin.xml,/WEB-INF/conf/struts-config-ditch.xml,/WEB-INF/conf/struts-config.xml,/WEB-INF/conf/struts-config-sap.xml,/WEB-INF/conf/struts-config-erp.xml,/WEB-INF/conf/struts-config-keyretailer.xml,/WEB-INF/conf/struts-config-pup.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>2</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>App</servlet-name>
    <servlet-class>com.winsafe.drp.server.App</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>com.winsafe.hbm.util.InitServlet</servlet-class>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/qr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/elabel/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/cm/*</url-pattern>
  </servlet-mapping>
  <!-- <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/secure/*</url-pattern>
  </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>/tags/struts-bean</taglib-uri>
      <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-html</taglib-uri>
      <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-logic</taglib-uri>
      <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-nested</taglib-uri>
      <taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>/tags/struts-tiles</taglib-uri>
      <taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
    </taglib>
  </jsp-config>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <!-- <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page> -->
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>