.capxous_autocomplete {
	background-color:#fff;
	border-width:1px;
	border-color:#666;
	border-style:solid;
	padding:1px;
	margin:0;
	text-align:left;
	line-height:1.2em;
}
.capxous_autocomplete * {
	font-family:georgia, times, serif;
	font-size:13px;
}
.capxous_autocomplete a {
	color:#1C5C9A;
	text-decoration:none;
}
.capxous_autocomplete a:hover {
	color:#6398CD;
}
.capxous_autocomplete_waiting {
	background:transparent url(indicator.gif);
	background-repeat:no-repeat;
	background-position:98% center;
}
.capxous_autocomplete_selectable {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:4px;
	text-align:left;
}
.capxous_autocomplete_current {
	background-color:#FEFCCF;
	color:#000000;
}