@charset "utf-8";

/*八个按钮样式*/
.eight-menu{
   background: url(../images/custom/dupond/bg-400.jpg) scroll 0 0 no-repeat transparent;
   background-size:100% 100%;
   z-index: -1000;
   width:100%; 
   margin:0 auto;
   padding-top:0px;
   padding-bottom: 0px;
   }
.eight-menu a{float:left; 
             padding:1px;
			 color:#212121;
			 width:33%;
			 text-align:center;
			 font-size:12px;
			 }
.eight-menu a span {color:#eee; font-size:12px;}
.eight-menu img{width:45px;
               height:45px;
			   margin:0 auto;
			   border-radius:25px;
			   }

#menu-main {
  padding-top:5px;
  padding-bottom: 3px;
}

#menu_product {
  padding-top:5px;
  padding-bottom: 3px;
  border-bottom:1px solid rgba(0,0,0,0.1);   
}

 /*产品展示*/
.textareas{
       /*height:160px;*/		    		    
		   font-size:16px; 
		   white-space:nowrap;
       text-align:center;
		   margin-left:11%;
}
.textareas li{list-style-type:none;
			 margin-bottom:0; 
			 line-height:24px;
			 color:#212121;
			 text-align:left;
			 clear:both;
			 }
.product-info{width:67px; 
              display: inline-block; 
			  margin-right: 12px; 	
			  float:left;	  
			  }
.fenxiang{text-align:left;
          margin-left:10px;
		  font-size:15px;
		  font-weight:lighter;
 }
/*回到顶部按钮*/
.BackTop{ position:fixed;
           bottom:90px; 
		   right:10px; 
		   display:none; 
		   z-index:99;
		   opacity: 0.7;}
.BackTop img{ width:40px;}

.BackTop .fa {
    border-radius: 30px;
    padding: 0px 8px 4px 8px;
    font-size: 2em;
    background-color:#ffffff;
}

/*表格*/
.hovertable table {
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
.hovertable table  th {
	background-color:#c3dde0;
	border-width: 1px;
	border-style: solid;
	border-color: #a9c6c9;
}
.hovertable table tr {
	background-color:#d4e3e5;
}
.hovertable table td {
	border-width: 1px;
	padding: 2px;
	border-style: solid;
	border-color: #a9c6c9;
}


.adress-time{font-size:14px; 
			 color:#999999;
			 float:left;
			 }
.pviews{float:right;
        font-size:14px; 
		color:#999999;
		}

.submitbutton{
    height: 28px;
    border: 1px solid #388fe8;
    background-color: #ffffff;
    float: right;
    margin-top: -40px;
    color: #388fe8;
    border-radius: 3px;
    left: -7px;
    font-size: 0.85em !important;
    padding-top: 0 !important;
			   }
.codebutton {
	height: 28px;
    border: 1px solid #999999;
    background-color: #ffffff;
    float: right;
    margin-top: -40px;
    color: #999999;
    border-radius: 3px;
    left: -7px;
    font-size: 0.85em !important;
    padding: 0 10px !important;
}			   
.submitbutton:hover{cursor:pointer; 
                    background-color:#388fe8;
					color:#ffffff;
					}
					
.signup-yanzhengma{ display:block;
					width:100%;
					height:45px;
					padding-left:20px;
					padding-right:20px;
					line-height:45px;
					line-height:100%;
					border:solid 1px #cacaca; 
					color:#666666;
					margin-top:-1px;
					border-radius:0px;}
/* Top page title bar */					
.top ul {padding:0; margin:0; list-style: none;}
.top ul li {float:left; padding:0; margin:0;}
.top ul li.col-1 {width: 15%;}
.top ul li.col-2 {width: 65%;}
.main-logo{ 
    line-height:40px;
	font-size:20px;
	color:#212121;	
	text-align:center;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.back{float:left;
       margin-top:10px;
	   margin-left:12px;
	   margin-right:15px;
}	
.user{float:right;
       margin-top:10px;
	   margin-right:12px;
}	

.designation{width:100%;
              white-space:nowrap;
			  overflow:hidden;
			  text-overflow:ellipsis;
			  display:inline-block;
			  font-style:normal;
			  color:#141414;
			  font-style:normal;
			  font-weight:normal;
			  font-size:18px;
               white-space:nowrap;			  
         }
.summary{width:100%;
			  color:#74787b;
			  font-size:14px;
			  font-style: normal;
			  height:46px;
    		  text-overflow: -o-ellipsis-lastline;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;		
}


.biaoti{text-align:center;}
/*星星样式*/
.star_bg {
    width: 120px; height: 20px;
    background: url(../images/icons/star.png) repeat-x;
    position: relative;
    overflow: hidden;
	margin:0 auto;
}
.star {
    height: 100%; width: 24px;
    line-height: 6em;
    position: absolute;
    z-index: 3;
}
.star:hover {    
    background: url(../images/icons/star.png) repeat-x 0 -20px;
    left: 0; z-index: 2;
}
.star_1 { left: 0; }
.star_2 { left: 24px; }
.star_3 { left: 48px; }
.star_4 { left: 72px; }
.star_5 { left: 96px; }
.star_1:hover { width: 24px; }
.star_2:hover { width: 48px; }
.star_3:hover { width: 72px; }
.star_4:hover { width: 96px; }
.star_5:hover { width: 120px; }

.star_bg label { 
    display: block; _display:inline;
    height: 100%; width: 100%;
    cursor: pointer;
}

/* 幕后的英雄，单选按钮 */
.score { position: absolute; clip: rect(0 0 0 0) !important; }
.score:checked + .star {    
    background: url(../images/icons/star.png) repeat-x 0 -20px !important;
    left: 0; z-index: 1;
}
.score_1:checked ~ .star_1 { width: 24px; }
.score_2:checked ~ .star_2 { width: 48px; }
.score_3:checked ~ .star_3 { width: 72px; }
.score_4:checked ~ .star_4 { width: 96px; }
.score_5:checked ~ .star_5 { width: 120px; }

.star_bg:hover .star {  background-image: none; }

/* for IE6-IE8 JS 交互 */
.star_checked {    
    background: url(star.png) repeat-x 0 -20px;
    left: 0 !important; z-index: 1;
}
.one-half-responsive h4{text-align:center;
                        padding-top:10px;
						font-size:20px;
                       }

.word-hidden{visibility:hidden; font-size:16px;}
	
.icon-hidden{visibility:hidden;}
	
/*图片自适应正方形*/
.pic-thumbnail {
  width: 28%;
  display:inline-block;
  float:left;
  padding-right:10px;
}
.figure-thumbnail{
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0;
  padding-bottom: 100%; /* 关键就在这里 */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wordbox{width:72%;
         float:left;

		 }

.pingjia{float:right;
         width:40px !important;}

.location{float:left;
          width:12px;
          padding-right:3px;
		  padding-top:3px;
		  position:relative;
		  top:2px;
		  }
.location-pviews{vertical-align:middle;
                 
                 }
.evaluate{padding-top:10px;
          }
.Evaluation-stars{float:right; 
                  width:60%;
				  }
.Evaluation-stars img{
                       width:80px;
					   padding-top:3px;
					   display:block;
					   padding-right:10px;
					   }					 
.year-date{ float:right; 
			font-size:5px;
			 }
.one-half-responsive{padding-top:15px;}

.margin-table table{margin-top:8px;
                margin-bottom:8px;
                }
.post{padding-top:15px;
     }
.parting-line{margin-bottom:20px;}
.error{color:red;}
.time-areas{font-size:15px;
            color:#999999;}
.comment-box{height:36px;
             width:77%;
              border:1px solid #cacaca;
			  color:#666;
			  float:left;
			 
		      }
.transmit-button{width:20%;
                 height:36px;
				 color:#ffffff;
				 background:#388fe8;
				 border-radius:3px;
				 float:right;
				 }
				 
/* product_security start here */
.security-info {
	width:95px;
	display:table;
	float:left;
}

.security-page {
	margin: 5% !important;
	font-family: '宋体', sans-serif;
}

.security-page-1 {
	margin: 5% 5% 1% !important;
	font-family: '宋体', sans-serif;
}

.textareas .word-wrap {
	white-space: normal;
	display:table;
}

li.product-flow-list {
	list-style:none;
	min-height:30px;
	border-left:1px solid #cccccc;
	font-size:16px;
}

li.product-flow-list:before {
    content: '';
    border: 3px solid #ffffff;
    background-color: #ddd;
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 5px;
    margin-left: -14px;
    margin-right: 10px;
}

li.product-flow-list:last-child:before {
    background-color: #388fe8;
}

#product_flow {position:relative; top:-9px;}

#product_flow:before {
    content: " ";
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: 8px;
    left: -9px;
    width: 10px;
    height: 9px;
    position:relative;
}

#product_flow:after {
    content: " ";
    background-color: #ffffff;
    display: block;
    position: absolute;
    top: -23px;
    left: -9px;
    width: 10px;
    height: 13px;
    position:relative;
}

/* product_security ends  */

.fixed_bottom_button {
	position:fixed;
  bottom:0px;
	z-index:99;
	width:100%;
}

.full-button {height:40px; padding:7px !important;}

.product_intro ul {margin-bottom:10px;}
.product_intro ul li, .product_intro ul li span{ 
	font-size:16px;
}

#product_content ul li p, #product_content ol li p {padding-bottom:0; padding-left:1px;}

.product_intro ul li figcaption a {font-size:16px;}

.content h3 {
	margin: 0;
}

.video-item {padding:15px 0;}

.video-item h4 {margin-bottom:0;}

.portfolio-one-links {padding-bottom:15px;}

.hide {
    display: none!important;
}

.no-detail {margin:20px; text-align:center;}

.full-button {padding-bottom:16px;}

.feedback-reply {background:#f7f7f7; padding:10px 15px 0 15px; margin-bottom:15px; border-top:1px dashed #ccc;}

#product_feedbacks_container {margin-bottom:50px;}

#ranking .rating-lg .rating-gly-star, #ranking .rating-container .rating-stars {
	font-size:20px;
	letter-spacing:8px;
}

#ranking {padding-top:0;}

.red {color:red;}

.signup-page-wrapper input {font-family:'Microsoft Yahei', sans-serif; font-size:0.9em; margin-bottom:4px; padding-top:6px;}

.signup-page-wrapper label {display:-webkit-box;}
.signup-page-wrapper checkbox {margin-right:10px;}

.verifyCode{
	width:80px;
	height:30px; 
	background-color:#82be61;
	float:right; 
	margin-top:-40px; 
	color:#FFFFFF;
	border-radius:5px;
	left: -7px;
}

.center {text-align:center;}

.sapce-left a {font-size:0.9em}

.cta {float:right; color:#999999; font-size:14px; padding-top:2.5%;}
	
	
.pv-left {    
	float: left;
    font-size: 14px;
    color: #999999;
    padding:2.5% 0 0 0;
}

.pic-thumbnail-small {
	width:20% !important;
	display: inline-block;
    float: left;
    padding-right: 10px;}

.wordbox-large {width:80% !important;float: left;}

.grey {color:#999999;}
.small-font {font-size:14px;}
.left {float:left;}
.right {float:right;}

.parallel {
	padding:0;
	margin:0;
	list-style:none;}
	
.parallel li {
	float:left;
	padding:0 20px 0 0;
	margin:0;}
	
.parallel li:last-child {float:right; padding:0;}

.footer {padding:0 0 10px 0;}

.contactTextarea {font-size:1em;}

/*首页广告*/
#bottomBanner {position:fixed; bottom:0; z-index:10000; width:100%; display:block; box-shadow: 0px -1px 2px #eee;}
#bottomBanner img {width:100%;}
.bannerClosed, .bannerClosed-01 {position:fixed; bottom:2px; right:0px; margin:20px 5px 5px 20px; z-index:10001; padding:2px 6px; color:#fff; background-color:#333; font-size:12px; opacity:0.8; }


/*APP下载广告*/
#footerBanner {position:fixed; bottom:0; z-index:10010; width:100%; display:block; box-shadow: 0px -1px 2px #eee;}
#footerBanner img {width:100%;}

/* 关闭按钮 */
.footerBannerClosed {
    /* still bad on picking color */
    background: grey; color: white;
    /* make a round button */
    border-radius: 12px;
    /* center text */
    line-height: 20px; text-align: center; height: 20px; width: 20px; font-size: 14px; padding: 1px;
		/* place the button on top-right */
    top: 0px; right: 0px; position: absolute;
}

.bottomText {background-color: #fff; opacity: 0.9; border: 1px solid #f9f9f9; padding:6px 40px 6px 30px; max-height:62px; height:56px; }
.bottomText h1 {font-size:17px; margin:0; padding:0; white-space: nowrap;-o-text-overflow:ellipsis;text-overflow: ellipsis;overflow:hidden; }
.bottomText h2 {font-size:14px; margin:0; padding:0; white-space: nowrap;-o-text-overflow:ellipsis;text-overflow: ellipsis;overflow:hidden; }

/*表格加边距*/
#product_cases_detail table tr td, #product_content_container table tr td, #manufacturer_news_container table tr td {font-size:0.9em;}
/* 联系电话 by young */
.contact{
	border-bottom:1px solid #e8e8e8;
	}
.contact a {
	display:block;
	background:url(../images/icons/ContactPhone.png) center right no-repeat;
	background-size:auto 30px;
	}
.contact a .contacttel {
	padding:15px 0 15px 30px;
	background:url(../images/icons/user_colorful.png) left center no-repeat;
	background-size:auto 24px;
	}
.contact a .contacttel h6 {
	font-weight:normal;
	font-size:14px;
	color:#74787b;
	width:80%;
	}
/* 防伪编码查询 by young */
.anti_code { margin:20px 0 10px 0; width:100%; font-size:0.8em; border:1px solid #e8e8e8; padding:15px 4px 15px 4px; border-radius:8px;}


/*百科*/
.baike {color:#212121;}
.baike p {padding:0 18px 15px 18px;}
.baike .top {background:#ffffff !important; }
.baike .main-logo2 {color:#212121 !important;}
.baike_bottom_line {
	margin-bottom:15px;
	border-bottom:1px solid #CCC;
	}
.baike .snap-content {padding-top:5px;}
.baike h1 {
	margin: 0 0 5px 3px;
    font-size: 22px;
    font-weight: bold;
    /*border-left: 2px solid #388fe8;
    padding: 2px 0 2px 10px !important;*/
    line-height: 1em;}
    
.baike-link {display:inline;}
.product-link {color:#df8500; display:inline;}
/*.img-cap {font-size:0.75em; padding:5px 5px 5px 25px; background:url('/res/tinybar/images/icon_img_gallery.png') scroll 5px 7px no-repeat transparent; background-size:15px auto;}*/
.img-cap {
	display: block;
    position: absolute;
    padding: 5px 10px 4px 12px;
    color: #fff;
    font-size: 14px;
    line-height: 1;
    background: #58574E;
    background: rgba(0,0,0,.65);
    right: 0px;
    bottom: 48px;
    /* border-radius: 3px; */
    text-decoration: none;
    border: 0;
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
}

.img-cap em {
	    padding: 3px 4px 4px;
    border: solid 1px #FFF;
    line-height: 0;
    font-size: 0;
    margin-right: 6px;
    box-shadow: -1px 1px 0 0 rgba(0,0,0,.65),-2px 2px 0 0 #fff;
    text-decoration: none;
    position: relative;
    top:-6px;
}

.img-cap span {font-size:12px;}

#image-gallery {margin-bottom:20px;}

#image-gallery figure {display:none;}
#image-gallery figure:first-child {display:block !important;}

ul#pest_name_list {
	float:left; 
	clear:both; 
	display:none;
	margin:0 0 0 0;
	border-top: 1px solid #ddd;
	background-color:#fafafa;
	width:100%
}

ul#pest_name_list li.active {
	list-style: disc inside;
	padding-left:4px;
}
    
li.pest-items {
	list-style: none;
    border-bottom: 1px solid #eee;
    padding: 8px 15px 8px 17px;
    font-size: 0.85em;
    color: #ccc;
    text-decoration: none;
    margin: 0 20px;
}

li.pest-items a {padding-left:2px;}

.more-pest {
	font-size: 0.85em;
    background: url(../images/icons/down.png) scroll right 15px no-repeat transparent;
    background-size: 12px auto;
    padding-right: 18px;
    padding-top: 7px;
}

.more-pest.active {
	background: url(../images/icons/up.png) scroll right 15px no-repeat transparent;
    background-size: 12px auto;
}
a.more-pest:link,a.more-pest:visited,a.more-pest:hover,a.more-pest:active {color:#388fe8;}	
.close-list {
	background: #eee;
    text-align: center;
    font-size: 0.85em;
    padding: 10px 0;
    /*border-bottom: 1px solid #ccc;*/
    position: relative;
    top: -1px;
}
	
.baike-title {
			margin: 0 0 15px 0;
		    font-size: 19px;
		    font-weight: bold;
		    border-left: 7px solid #388fe8;
		    padding: 0 0 0px 10px !important;
		    line-height: 1em;}

.baike-crops-title {
		    font-size: 17px;
		    line-height: 1em;
		    border-bottom: 1px solid #ddd;
		    padding:12px;
		    background:url('../images/icons/forward.png') no-repeat scroll right center transparent;
		    background-size:auto 12px;
		    margin-right:12px;
		    }

.baike-crops-title:last-child {border-bottom:none;}	
 
.baike figcaption {display:none;}   
p#pest_symptom, p#pest_conditions, p#pest_fastigium {overflow:inherit; z-index:-10000;}

.wrap-catalog {background-color:#f1f1f1;}

.catalog-content {
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	position: static;
    margin-top: 55px !important;
    margin-bottom:15px;
}

.no-right {margin-right:0; padding-right:0;}
.no-bottom-space {margin-bottom:0; padding-bottom:0;}

#product_name, #product_component, #product_certification, #product_manufacturer {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


/* Swipebox */
ul#box-container {
	width:100%;
	list-style:none;
	padding:0;
	z-index:10000000000;
}

ul#box-container li.box img {width:100%; min-height:100px;}

ul#box-container li.box {display:none;}

ul#box-container li.box:first-child {display:block !important;}

#swipebox-caption.visible-bars {font-size:1em; font-family:'Microsoft Yahei', Arial, sans-serif;}

#swipebox-slider .slide img {background:#fff;}

/* 认证V */
.E_icon {
	display: inline-block;
    background-image: url(/images/icons.png);
    background-repeat:no-repeat;}
.icon-co-approved, .icon-co-paid, .icon-approved {
	width: 14px;
    height: 14px;
    margin-left: 3px;
}

.icon-co-paid {
	background-position:0 -1px;
}/*付费企业*/

.icon-co-approved {
	background-position:0 -26px;
}/*认证企业*/

.icon-approved {
	background-position:0 -51px;
}/*认证个人*/

/* 分享收藏 */
.share { overflow:hidden; margin-bottom:20px; zoom:1;}
.share dt { font-size:0.875em; padding:0 0 10px 0; position:relative; text-align:center;}
.share dt i { width:50px; height:1px; background:#d7d7d7; position:absolute; top:10px; margin-left:50%;}
.share dt i.sharetitleleft { left:-90px;}
.share dt i.sharetitleright { left:40px;}
.share dd { font-size:0.875em; float:left;}
.share dd a { text-decoration:none; display:block; line-height:2em; padding-left:30px;}
.share dd.weibo a , .share dd.weixin a , .share dd.friend a , .share dd.favorite a { background:url(/res/tinybar/images/icons/share.png) no-repeat; background-size:30px auto;}
.share dd.weibo { width:24%;}
.share dd.weixin { width:24%;}
.share dd.friend { width:28%;}
.share dd.favorite { width:24%;}
.share dd.weibo a { color:#f8504f; background-position:0 -1px;}
.share dd.weixin a { color:#50ce00; background-position:0 -31px;}
.share dd.friend a { color:#df870a; background-position:0 -61px;}
.share dd.favorite a { color:#1795d6; background-position:0 -91px;}
.tips_favorite { position:fixed; top:0; right:20px; width:260px; height:120px; z-index:1100001; display:none;}
.tips_favorite_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1100000;
}

/* 视频有关css */
.content_list3 {
	background: #ffffff;
	border-left: none;
	border-right: none;
	margin: 0 0 10px 0;
}
.content_list ul li, .content_list2 ul li, .content_list3 ul li {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
}
.content_list ul li:nth-last-child(1), .content_list2 ul li:nth-last-child(1) {
    border-bottom: none;
}
.content_list3 ul {
	margin-bottom: 0;
}
.videp_others_pic {
  float: left;
  width: 80px;
  background: url(../images/placeholder_video2.png) no-repeat;
  background-size: 100% auto;
}
.videp_others_playview {
  float: right;
  width: 72%;
}
.videp_others_playview h5 {
  height: 40px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  font-size: 1em;
  color: #444444;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
.videp_others_playview .videp_others_playrecord {
  height: 20px;
  color: #999999;
}
.videp_others_playview .videp_others_playrecord .date {
  float: left;
}
.videp_others_playview .videp_others_playrecord .readrecord {
  float: right;
}
.videp_others_playview .videp_others_playrecord .date, .videp_others_playview .videp_others_playrecord .readrecord {
  font-size: 0.84em;
  display: inline-block;
}
.video_views {
  padding: 10px 0;
}
.video_views .v_date {
  float: left;
}
.video_views .v_date, .video_views .v_readrecord {
	font-size: 0.84em;
	display: inline-block;
	color: #999999;
}
.v_readrecord {
  float: right;
}
#video_title {
  margin-bottom: 0;
}
.video_others_title {
	border-bottom: 1px solid #e8e8e8;
  background: #FFFFFF;
  font-size: 1em;
  padding: 8px 0;
}