
/** 修改bootstrap默认字体为微软雅黑 */
body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
	font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

th, td {
  white-space: nowrap;
}

.btn-gray {
	background-color: #e6e6e6;
	background-image: none;
	color: #999;
}

.btn-gray:hover {
	color: #999;
	cursor: default;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: bold;
	color: #888888;
	text-rendering: optimizelegibility;
}