.top {
	background:#388fe8;
}
.eight-menu img {
	background-color:#388fe8;
}

.button-green, .button-blue {background-color:#388fe8; }

.button-green:hover, .button-blue:hover {background-color:#1a89e5;}

.BackTop .fa {
	color: #388fe8;
    border: 2px solid #388fe8;
}

#header_elabel_title {
	line-height: 40px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
