.top {
/* 	background:#313a3d; */
}
/* .eight-menu img { */
/* 	background-color: #e3000f; */
/*     border-radius:0; */
/* } */

.BackTop .fa {
	color: #b3b4b5;
    border:1px solid #b3b4b5; 
}

/*
a#menu_product_list span {display:none;}
a#menu_product_list:after {content:'即刻购买';}

a#menu_customer_tel span {display:none;}
a#menu_customer_tel:after {content:'联系我们';}

a#menu_product_feedbacks span {display:none;}
a#menu_product_feedbacks:after {content:'官方站点';}
*/

.top ul li:first-child {
    content: '.';
    background: url(../../images/trace/logo.png) scroll left 0 no-repeat transparent;
    background-size: auto 30px;
    height: 40px;
    margin: 4px 0 0 10px;
}

.back{margin-left:-20px !important;margin-top:6px !important;}