body {
	font-family: Arial, Helvetica, sans-serif;	
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}
.box-top-left {
	width:14px;
	height:17px;
	background-image: url(siteimages/CN/box_01.gif);
	background-repeat: no-repeat;
	background-position: left top;
}
.box-top-center {
	background-image: url(siteimages/CN/box_02.gif);
	background-repeat: repeat-x;
	background-position: top;	
}
.box-top-right {
	background-image: url(siteimages/CN/box_03.gif);
	background-repeat: no-repeat;
	background-position: right top;
	width:14px;height:17px;
}
.box-mid-left {
	background-image: url(siteimages/CN/box_04.gif);
	background-repeat: repeat-y;
	background-position: left;	
}
.box-mid-right {
	background-image: url(siteimages/CN/box_06.gif);
	background-repeat: repeat-y;
	background-position: right;
}
.box-bottom-left {
	width:14px;
	height:17px;
	background-image: url(siteimages/CN/box_07.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.box-bottom-center {
	background-image: url(siteimages/CN/box_08.gif);
	background-repeat: repeat -x;
	background-position: bottom;
}
.box-bottom-right {
	width:14px;
	height:17px;
	background-image: url(siteimages/CN/box_09.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	
}
